footer {
  background-color: #500d16;
  text-align: center;
}

.col3 {
  flex-grow: 1;
  width: 33.33%;
}

.footerItem {
  padding: 20px;
}

.footerItem img {
  height: 90px;
  width: 180px;
  opacity: 60%;
  margin: 0 auto;
}

.footerLinks {
  list-style: none;
}

footer h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

footer .bi {
  font-size: 25px;
  color: #95a5a6;
  line-height: 50px;
  transition: 0.5 ease;
}

footer .bi:hover {
  color: #fff;
}

footer p {
  color: #95a5a6;
  line-height: 20px;
  word-wrap: break-word;
}

.footerLinks {
  padding: 0;
}

.footerLinks a {
  text-decoration: none;
  color: #95a5a6;
  letter-spacing: 2px;
  transition: 0.3 ease;
}

.footerLinks a:hover {
  color: #fff;
  text-decoration: underline;
}

.socialLinks {
  padding: 0;
}

.socialLinks li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}
